PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=<AppName>
JWT_SECRET=<your_strong_random_secret>
GEMINI_API_KEY=<your_gemini_api_key>
FRONTEND_URL=https://your-app.vercel.app
